aws.region = 
aws.bucketName = 
aws.accessKeyId = 
aws.secretKey = 

dropbox.accessToken = 

# See README.md for details on how to configure Box authentication
# Those 3 come from the edit form of the app on https://app.box.com/developers/services
box.clientId = 
box.clientSecret =
box.pubkeyId =

# The enterprise ID you get from https://app.box.com/master/settings/openbox
box.enterpriseId =

# The base64 encoded content of the private_key.pkcs8 file
box.privkeyContent =
